ion-content{background-image: url(../../assets/imgs/Strawberry-Delight-Birthday-Cake.jpg);
            background-repeat: no repeat;
            height: 100;
        background-position: center;
        background-size: cover;
        
        
        
        }


        h3{

text-align: center;



        }

        h2{

            text-align: center;
            position: relative;
            padding: 25px;
            top: 600px;
            
            
                    }